ul li.red{color: red;}
ul li.green{color: green;}
ol{list-style-type: decimal}
ul{list-style-type: circle;}
.padding{background-color: grey;
padding: 10px;}
.margin{background-color: rgb(8, 114, 8);
margin: 10px;}
ol.element{list-style-type: none;
counter-reset: number;}
ol.element li::before{content: counter(number)')';
    counter-increment: number;}
    blockquote::before{content: "<<";}
    blockquote::after{content: ">>";}
    ul.element2{list-style-type: none;
    font-style: italic;}
    ul.element2 li::after{content:'-';
    color: indigo;
    font-size:xx-large;}
    img{border: 2px green solid;
    border-radius: 100px;}