/*создадим переменную с названием цвета, в которм есть дефис*/
div {
  /*используя функцию replace, заменим символ дефиса на пустой символ*/
  background-color: darkorange;
  width: 300px;
  height: 200px;
}
