/*используя функцию each, для каждого значения:1,2,3(полученного функцией range)*/
/*создаем класс*/
.cell-1 {
  /*задаем ширину, которая зависит от значения*/
  width: 15vw;
}
/*создаем класс*/
.cell-2 {
  /*задаем ширину, которая зависит от значения*/
  width: 30vw;
}
/*создаем класс*/
.cell-3 {
  /*задаем ширину, которая зависит от значения*/
  width: 45vw;
}
div {
  background-color: #104c4c;
}
