/*ul{
    background-color: rgb(31, 86, 16);
    li{
        list-style: none;
        a{
            color: aqua;
        }
    }
}*/
.menu-list {
  background-color: #1f5610;
}
.menu-list__item {
  list-style: none;
}
.menu-list__link {
  color: aqua;
}
.menu-list__link:hover {
  color: #0d00ff;
}
