/*создадим переменную с основным цветом(красным)*/
/*повернем оттенок @col1 на 70 градусов*/
/*смешаем @col1с черным в пропорции 30%*/
div {
  color: #d4ff00;
  background-color: #b30000;
  width: 300px;
  height: 200px;
}
