/*зададим цвет, используя функцию color*/
/*зададим значение внутреннего отступа, используя функцию convert, которая преобразует миллиметры в пункты*/
/*зададим значение внешнего отступа, используя функцию unit, которая задает значению единицы измерения*/
div {
  background-color: #ffc0cb;
  color: #800080;
  padding: 14.17322835pt;
  margin: 5vw;
}
