.grid{display: grid;
    /*grid-template-colunns: 100px 10em 30%;*/
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: 50px repeat(2, 1fr 2fr);
    padding: 20px;
    background-color: #0d233d;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    grid-gap: 30px 20px;}
    .grid div{padding: 0.3em;
    border-radius: 3px;
    background-color: #482880;
    color: #ffffff;
    font-size: 130%;
    font-weight: bold;
    text-align: center;}
    .grid div:nth-child(odd){background-color: #1769aa;}