body{padding: 20px;
background: white;}
.flex-container{padding: 10px;
background: gold;
border-radius: 10px;
display: flex;}
.flex-item{margin: 10px;
padding: 5px;
background: tomato;
border-radius: 5px;
border: 1px solid #FFF;}
body *+*{margin-top: 10px;}
.row-revers{flex-direction: row-reverse;}
.column{flex-direction: column;}
.column-revers{flex-direction: column-reverse;}